{% extends "base.html.twig" %}

{% block content %}

<table class="crawlers">
  <thead class="crawlers">
    <tr>
      <th>address</th>
      <th>launch</th>
      <th>frequency</th>
      <th>user-agent<th>actions</th>
    </tr>
  </thead>
{% for robot in robots %}
  <tr>
    <td>{{robot.address}}</td>
    <td>{{robot.start_time}}</td>
{% if robot.weekday == null %}
    <td>daily</td>
{% else %}
    <td>{{ robot.weekday }}</td>
{% endif %}
    <td>{{ robot.agent }}</td>
    <td>
      <form action="/edit" method="get">
        <input type="hidden" name="botid" value="{{robot.botid}}">
        <input type="submit" class="table_submit" value="Edit">
      </form>
      <form action="/confirm" method="post">
        <input type="hidden" name="botid" value="{{robot.botid}}">
        <input type="hidden" name="domain" value="{{robot.domain}}">
        <input type="hidden" name="scheme" value="{{robot.scheme}}">
        <input type="hidden" name="action" value="delete">
        <input type="submit" class="table_submit" value="Delete">
      </form>
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
