{% extends "base.html.twig" %}

{% block content %}


<form name="search" id="search" action="/search/" method="get">
<input type="hidden" name="token" value="{{ token }}">
<select class="search_select" name="bot_id">
{% for robot in robots %}
   <option {% if bot_id == robot.bot_id %} selected {% endif %} value="{{ robot.bot_id }}">{{ robot.address }}</option>
{% endfor %}
</select>
<input class="search_input" type="text" name="search">
<input class="search_submit" type="submit" value="Search">
</form>

<p>Found a total {{ results_count }} results.</p>

{% for result in results %}
<p>{{ result.id }} => {{ result.url }} </p>
{% endfor %}

{% endblock %}
