{% extends 'base.html.twig' %}

{% block title %}View Records - {{ address }}{% endblock %}

{% block body %}
<div {{ stimulus_controller('robot-records-view',
    { botId: bot_id }
) }}>
<h3>{{ address }}</h3>
<p><strong>{{ time_range }}</strong></p>
<hr>
<table width="100%" class="table table-striped">
    <thead>
        <tr class="align-middle"><th>id</th><th>path</th><th>timestamp</th><th>content type</th><th>content length</th><th>headers</th><th></th><th></th></tr>
    </thead>
    <tbody>
{% for record in records %}
        <tr class="align-middle">
            <td>{{ record.id }}</td>
            <td>{{ record.path }}</td>
            <td>{{ record.scanTimestamp|date('Y-m-d H:i:s') }}</td>
            <td>{{ record.contentType }}</td>
            <td>{{ record.length }}</td>
            <td>{{ record.metadata|ellipsis }}</td>
            <td>
                <button class="btn btn-primary btn-sm" data-robot-records-view-id-param="{{ record.id }}" data-action="robot-records-view#show">View</button>
            </td>
            <td>
                <button class="btn btn-secondary btn-sm" data-robot-records-view-id-param="{{ record.id }}" data-action="robot-records-view#download">Download</button>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>

  <ul class="pagination">
{% if previous >= 0 %}
    <li class="page-item"><a class="page-link" href="{{ path('app_records_view', { botId: bot_id, launchId: launch_id, offset: previous }) }}">Previous</a></li>
{% endif %}
{% if next < records|length %}
    <li class="page-item"><a class="page-link" href="{{ path('app_records_view', { botId: bot_id, launchId: launch_id, offset: next }) }}">Next</a></li>
{% endif %}
  </ul>

<iframe data-robot-records-view-target="frame" class="record-view">
</iframe>

</div>
{% endblock %}
