{% extends 'base.html.twig' %}

{% block title %}Web Robot Home{% endblock %}

{% block body %}
<h1>Scheduled</h1>
<hr>
<table width="100%" class="table table-striped">
    <thead>
        <tr><th>address</th></th><th>agent</th><th>start</th><th>container id</th><th>running</th><th>finished</th><th class="text-center">actions</th></tr>
    </thead>
    <tbody>
{% for crawler in crawlers %}
        <tr>
            <td>{{ crawler.address }}</td>
            <td>{{ crawler.agent }}</td>
            <td>{{ crawler.startTime|date('H:i:s') }}</td>
            {% if crawler.containerId %}
            <td>{{ crawler.containerId }}
            {% else %}
            <td>n/a</td>
            {% endif %}
            {% if crawler.isRunning %}
            <td>yes</td>
            {% else %}
            <td>no</td>
            {% endif %}
            <td>{{ crawler.endTime|fuzzy_date }}</td>
            <td>
                <a href="{{ path('app_robot_schedule_edit', { botId: crawler.botId }) }}" class="text-decoration-none">&#128221; Edit</a>
                {{ include('modal/modal_delete.twig', { 'bot_id': crawler.botId } ) }}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}

