{% extends 'base.html.twig' %}

{% block title %}User Settings{% endblock %}

{% block body %}

<h1>User Settings</h1>

<div class="pt-3">
    <hr>
    <h3>API Token</h3>
    <p>Your API token (do not disclose to any other party):</p>
    <div {{ stimulus_controller('regenerate-api-key', {
        token: csrf_token('regenerate-api-key'),
    }) }}>
        <a href="#" {{ stimulus_action('regenerate-api-key', 'generate')}}>
            <div class="btn btn-sm btn-primary m-2">Regenerate</div>
        </a>
        <div class="d-inline" id="api_token">{{ api_token }}</div>
    </div>
</div>

<div class="pt-3">
    <hr>
    <h3>Change Password</h3>
    <p>Enter your current password and your desired new password.</p>

    <hr>

    {{ form(form) }}

    <hr>
</div>

<div class="pt-3">
    <h3>Dangerous Settings</h3>
    <hr>

    {{ include('modal/modal_delete_account.twig') }}
</div>

{% endblock %}
